.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

movie-card {
  height: 400px; /* Fixed height for the card */
  width: 100%; /* Full width */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px; /* Space between cards */
}

.movie-img {
  width: 100%; /* Ensures the image takes the full width of the card */
  height: 250px; /* Fixed height for the image, adjust as needed */
  object-fit: contain; /* Ensures the image is fully visible without distortion */
}

.card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-info:hover {
  background-color: #138496;
  border-color: #117a8b;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.list-group-item {
  transition: background-color 0.3s, color 0.3s;
}

.list-group-item:hover {
  background-color: #e9ecef; 
  color: #007bff; 
}

.details p {
  margin-bottom: 10px;
  text-align: left;
}

.details strong {
  color: #333; /* Dark color for better readability */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
